<header class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="block text-teal-600" routerLink="/">
          <span class="sr-only">Home</span>
          <img src="assets/fikavatar.jpg" width="30" height="30" />
        </a>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                routerLink="/about"
                routerLinkActive="active"
              >
                About
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                routerLink="/"
                routerLinkActive="active"
              >
                Work History
              </a>
            </li>

            <li>
              <a
                routerLink="/training"
                routerLinkActive="active"
                class="text-gray-500 transition hover:text-gray-500/75"
              >
                Training
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                routerLink="/projects"
                routerLinkActive="active"
              >
                Projects
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                routerLink="/skills"
                routerLinkActive="active"
              >
                Skills
              </a>
            </li>

            <!-- <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                routerLink="/cv"
                routerLinkActive="active"
              >
                CV
              </a>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
