<div class="w-1/2 sm:w-full md:w-full lg:w-1/2 mx-auto">
  <app-page-header-card></app-page-header-card>
</div>

<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8" *ngIf="isLoading">
  <ng-container *ngFor="let card of numberOfSkeletonCards">
      <app-card >
      <div class="bg-gray-200 rounded-lg p-4 animate-pulse">
        <div class="h-32 bg-gray-300 rounded mb-2"></div>
        <div class="h-4 bg-gray-300 rounded w-2/3 mb-2"></div>
        <div class="h-4 bg-gray-300 rounded w-1/2 mb-2"></div>
        <div class="h-4 bg-gray-300 rounded w-1/4 mb-2"></div>
      </div>
    </app-card>
    </ng-container>
  </div>

<div *ngIf="!isLoading" class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
  <div
    class="h-auto m-3 bg-gray-200"
    *ngFor="let training of completedTraining"
  >
    <app-card [imageUrl]="training.imgUrl">
      <div class="p-3">
        <h3
          class="text-gray-900 group-hover:underline group-hover:underline-offset-4"
        >
          {{ training.title }}
        </h3>
        <p>
          <ng-container
            *ngIf="training.trainingType === TrainingType.VIDEO; else showBook"
          >
            <span class="text-gray-900">Duration: </span>
            <span class="mt-1.5 max-w-[45ch] text-md text-gray-500"
              >{{ training.duration }}
              {{ training.duration > 1 ? "hours" : "hour" }}</span
            >
          </ng-container>
          <ng-template #showBook>
            <span class="text-gray-900">Duration: </span>
            <span class="mt-1.5 max-w-[45ch] text-md text-gray-500"
              >{{ training.duration }} Pages</span
            >
          </ng-template>
        </p>
        <p>
          <span class="text-gray-900">Training Institution: </span>
          <span class="mt-1.5 max-w-[45ch] text-md text-gray-500">{{
            training.institution
          }}</span>
        </p>
        <p>
          <span class="text-gray-900">Author: </span>
          <span class="mt-1.5 max-w-[45ch] text-md text-gray-500">{{
            training.author
          }}</span>
        </p>

        <p class="mt-1.5 max-w-[45ch] text-xs text-gray-500">
          I completed the course in {{ training.dateCompleted }}. Visit
          {{ training.trainingUrl }} for more information about the course.
          Visit {{ training.authorURL }} to learn more about the Author
        </p>
      </div>
    </app-card>
  </div>
</div>
