<div class="w-1/2 sm:w-full md:w-full lg:w-1/2 mx-auto my-3">
    <app-page-header-card
    cardHeading="Continous Improvement & Continuous Development"
    cardContent="My desire is to be a world class Software Engineer, as such I am constantly practicing to sharpen my craft. Outside of working hours I have collaborated with other senior developers to turn ideas into software helping me improve as a developer whiles exposing me to a variety of Tools and Frameworks. I have worked on the projects below. "
    ></app-page-header-card>
  </div>
